<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">About Us</h2>
                                <hr>
                                <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
<div id="content-wrapper">
    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12 fade-up">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>

                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>
            <div class="gap"></div>
            <div class="row fade-up">
                <div class="col-md-6">
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="http://placehold.it/400x400">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="http://placehold.it/400x400">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="http://placehold.it/400x400">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="http://placehold.it/400x400">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="gap"></div>
            <div class="center gap fade-down section-heading">
                <h2 class="main-title">Meet The Team</h2>
                <hr>
                <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
            </div>
            <div class="gap"></div>

            <div id="meet-the-team" class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="center team-member">
                        <img class="img-responsive img-thumbnail bounce-in" src="http://placehold.it/400x400" alt="">
                        <div class="team-content fade-up">
                            <h5>Daniel Jones<small class="role muted">Web Design</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="center team-member">
                        <img class="img-responsive img-thumbnail bounce-in" src="http://placehold.it/400x400" alt="">
                        <div class="team-content fade-up">
                            <h5>John Smith<small class="role muted">Marketing Director</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center team-member">
                        <img class="img-responsive img-thumbnail bounce-in" src="http://placehold.it/400x400" alt="">
                        <div class="team-content fade-up">
                            <h5>Dave Gorman<small class="role muted">Web Design</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="center team-member">
                        <img class="img-responsive img-thumbnail bounce-in" src="http://placehold.it/400x400" alt="">
                        <div class="team-content fade-up">
                            <h5>Steve Smith<small class="role muted">Sales Assistant</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/#meet-the-team-->
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </section>
</div>